* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    background-color:#077187;
    color: #333;
    padding: 20px;
}
header {
    background: #333;
    color: #FF0090;
    padding: 10px 0;
    text-align: left;
}
main {
    margin: 20px 0;
}
.hero {
    position: relative;
    color: #CF1F25;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}
.hero img {
    display: block;
    width: 100%;
    height: 25%;
    object-fit: cover;    
}
.hero h1 {
    position: absolute;
    top: 10px;
    left: 30px;
    color: #CF1F25;
    font-size: 2.5em;
    text-align: center;
}
.hero article {
    position: absolute;
    border: #333 solid 2px;
    background: #f6edd078;
    bottom: 20px;
    left: 30px;
    color: #1c108a;
    text-align: left;
    font-size: 1em;
    max-width: 100%;
    opacity: 0.9;
}
.hero article img {
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: auto;
    object-fit: cover;
}
.hero article p {
    flex: 1;
    padding: 10px;
    text-align: left;
}    

footer {
    background: #f6edd078;
    box-decoration-break: clone;
    color: #FF0090;
    padding: 10px 0;
    text-align: left;

}