
nav {
    background-color:rgb(29, 29, 244);
    padding: 0;
    border: 5px solid rgb(181, 37, 37);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: rgb(91, 182, 16);
}
img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p { 
    padding: 0;
}
main {
    max-width: 500px;
}
main img {
    width: 200px;
    height: auto;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1pc solid rgb (0 0 0 / 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    word-wrap: break-word;
}
header, footer {
    max-width: 840px;
    margin: 0 auto;
    border-top: 1px solid #000;
    text-align: center;
}
